* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  /* UI Properties */
  background: #008ed2 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.navbar {
  padding: 0.8rem 8rem;
}
.mobile-img {
  width: 372px;
  margin-left: -60px;
  margin-top: -303px;
}
.logo {
  margin-left: 4vh;
}
.language-text {
  text-align: left;
  font-family: normal normal 100 30px/40px SF Pro Display;
  letter-spacing: 0px;
  color: #ffffff;
}
.language-muted {
  text-align: left;
  font-family: normal normal 100 30px/40px SF Pro Display;
  letter-spacing: 0px;
  color: #ada9a9;
}
.banner-content {
  padding: 0.8rem 9.5rem;
  top: 246px;
  text-align: left;
  font-family: normal normal bold 70px/75px SF Pro Display;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.banner .banner-title {
  padding-top: 34px;
  font-size: 43px;
  width: 390px;
  font-weight: 700;
}
.banner .banner-para {
  padding-top: 24px;
  font-size: 20px;
  width: 320px;
}
.banner .banner-title,
.banner-para {
  word-wrap: break-word;
}
.app-btn {
  display: flex;
  opacity: 1;
  gap: 10px;
}
.app-btn img {
  width: 115px;
  height: 32px;
}
.banner-bg {
  font-size: 360px;
  font-weight: 500;
  color: #ffffff;
  margin-left: -45px;
  margin-top: -59px;
}
.banner-back {
  margin-left: 50%;
  margin-top: -736px;
  width: 700px;
}
.about {
  padding: 0.5rem 10rem;
  margin-top: -210px;
  margin-right: -182px;
}
.about .about-title {
  padding-top: 42px;
  word-wrap: break-word;
  width: 250px;
}
.about .about-content {
  padding-top: 22px;
  word-wrap: break-word;
  width: 340px;
}
.footer-bottom-text {
  color: #ffffff;
  margin-left: 30vh;
}
.main_container {
  /* overflow: hidden; */
  max-width: 100%;
}

.mid-container {
  width: 774px;
  margin-left: 396px;
  margin-top: 13vh;
}
.mid-text-bold {
  font-size: 80px;
  font-weight: 700;
  color: #ffffff;
}
.mid-text-medium {
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 5vh;
  margin-left: 5vh;
}
.mid-logo {
  justify-content: center;
  margin-top: 8vh;
  /* margin-left: 5vh; */
}
.mid-logo-img {
  width: 15vh;
  align-items: center;
  margin-left: 220px;
  box-shadow: 0px 1px 20px 3px #067bb3;
  border-radius: 21px;
}
.mid-left-img {
  margin-left: -15px;
  width: 46vh;
  margin-top: 40px;
}
.mid-right-img {
  margin-top: -380px;
  margin-left: 83%;
  width: 36vh;
}
.mid-text-container {
  justify-content: center;
  margin-top: 10vh;
  align-content: center;
  justify-content: center;
}
.text-bold {
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 263px;
}
.text-medium {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 4vh;
  justify-content: center;
  margin-left: 397px;
  margin-bottom: 46px;
}
.exercise-container {
  margin-left: 310px;
  margin-top: 20vh;
}
.exercise-img {
  width: 700px;
}
.dumble_des {
  margin-left: 54px;
  margin-top: 4px;
  width: 810px;
}
.runner {
  margin-top: 22vh;
  margin-left: 191px;
}
.come-on {
  width: 985px;
}
.runner-img {
  margin-top: -520px;
  width: 997px;
  margin-left: 7px;
}
.weight-img {
  margin-top: -980px;
  margin-left: 72%;
  width: 51vh;
}
.bottom-logo-img {
  width: 22vh;
  align-items: center;
  margin-left: 426px;
  box-shadow: 0px 1px 20px 3px #067bb3;
  border-radius: 24px;
  margin-top: -296px;
}
.download-container {
  margin-top: -7vh;
    margin-left: 528px;
}
.download-text {
  font-size: 18;
  margin-left: 20px;
  color: #ffffff;
  font-weight: 700;
}
.emty {
  margin-top: 4vh;
}
.app-btn-bottom {
  display: flex;
  opacity: 1;
  gap: 14px;
  margin-left: 38px;
}

.app-btn-bottom img {
  width: 125px;
  height: 36px;
}
.mail-text {
  /* font-size: 18; */
  color: #ffffff;
  font-weight: 700;
  margin-left: 23px;
  margin-top: 12vh;
}
.social-icons-container {
  margin-top: 5vh;
  width: 400px;
  margin-left: 110px;
}
.socila-icons-img {
  width: 50px;
  margin-left: -80px;
}
.footer-card {
  margin-top: 7vh;
  margin-left: -51px;
  margin-bottom: 8vh;
}

.footer-section {
  margin-left: 45vh;
}
.footer-text {
  color: #ffffff;
}
.right-reserved-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 50vh;
}
.aboutus {
  width: 480px;
  margin-top: -41px;
  margin-left: 22px;
}
.curve_img {
  width: 70px;
}
.curve {
  margin-left: 60px;
}

@media screen and (max-width: 490px) {
  .main_container {
    max-width: fit-content;
    overflow: hidden;
  }
  .banner-content {
    /* padding: 20.2rem 9.5rem; */
    padding: 0.8rem 1.8rem;
    top: 246px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 294px;
    margin-left: -40px;
  }
  .banner .banner-title {
    padding-top: 13px;
    font-size: 26px;
    width: 245px;
    margin-left: 64px;
    text-align: center;
  }
  .banner-back {
    margin-left: 51%;
    margin-top: -114px;
    width: 203px;
  }
  .app-btn {
    display: flex;
    opacity: 1;
    gap: 10px;
    margin-left: 30px;
  }
  .banner-bg {
    font-size: 80px;
    font-weight: 700;
    color: #ffffff;
    margin-left: -2px;
    margin-top: 5px;
  }

  .about {
    padding: 0.8rem 10rem;
    margin-left: -209px;
    margin-top: -62px;
  }
  .aboutus {
    width: 130px;
    margin-left: 130px;
    margin-top: -25px;
  }
  .banner .banner-para {
    padding-top: 5px;
    font-size: 15px;
    width: 304px;
    margin-left: 43px;
    text-align: center;
  }

  .about .about-title {
    padding-top: 111px;
    word-wrap: break-word;
    width: 215px;
    margin-left: -175px;
  }
  .about .about-content {
    padding-top: 8px;
    word-wrap: break-word;
    width: 254px;
    margin-left: -173px;
    font-size: 10px;
  }
  .mid-container {
    width: 273px;
    margin-left: 46px;
    margin-top: 10vh;
  }
  .mid-logo-img {
    width: 8vh;
    align-items: center;
    margin-left: 140px;
  }
  .mid-text-bold {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: -53px;
  }
  .mid-text-medium {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 2vh;
    justify-content: center;
  }
  .mid-logo {
    justify-content: center;
    margin-top: 6vh;
    margin-left: -41px;
  }
  .mid-left-img {
    margin-left: -40px;
    width: 50px;
  }
  .mobile-img {
    width: 100px;
    margin-left: 22px;
    margin-top: -53px;
  }
  .mid-right-img {
    margin-top: -40px;
    width: 35px;
    margin-left: 97%;
  }
  .mid-text-container {
    width: 308px;
    margin-left: 29px;
    margin-top: 5vh;
    align-content: center;
    justify-content: center;
  }
  .text-bold {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
  }
  .text-medium {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 4vh;
    justify-content: center;
    margin-left: -3px;
  }
  .exercise-container {
    margin-left: 41px;
    margin-top: 2vh;
  }
  .exercise-img {
    width: 253px;
    margin-left: 14px;
  }
  .dumble_des {
    margin-left: 25px;
    margin-top: 30px;
    width: 235px;
  }
  .runner {
    margin-top: 8vh;
    margin-left: 40px;
  }
  .come-on {
    width: 230px;
    margin-left: 21px;
  }
  .runner-img {
    margin-top: -110px;
    width: 200px;
    margin-left: 53px;
  }
  .weight-img {
    margin-top: -315px;
    width: 40px;
    margin-left: 91%;
  }
  .download-container {
    margin-top: 4vh;
    margin-left: 55px;
  }
  .download-text {
    margin-left: 60px;
    color: #ffffff;
    font-weight: 650;
    font-size: 18px;
  }
  .mail-text {
    font-size: 18;
    color: #ffffff;
    font-weight: 700;
    margin-left: 31px;
    margin-top: 5vh;
  }
  .bottom-logo-img {
    width: 5vh;
    align-items: center;
    margin-left: 120px;
    margin-top: -50px;
  }

  .socila-icons-img {
    width: 38px;
    margin-left: 15px;
    margin-top: -102px;
  }
  .footer-card {
    margin-top: 2vh;
    margin-left: 12px;
    margin-bottom: 35vh;
  }
  .footer-section {
    width: 260px;
    /* text-align: center; */
    margin-left: 44px;
    margin-top: -260px;
  }
  .right-reserved-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: -18vh;
  }
  .footer-bottom-text {
    color: #ffffff;
    font-size: 10px;
  }
}

/* @media only screen and (max-width: 480px) and (min-width: 320px) {
  .banner-back {
    margin-left: 51%;
    margin-top: -70px;
    width: 226px;
  }
  .mid-right-img {
    margin-top: -72px;
    width: 35px;
    margin-left: 329px;
  }
  .weight-img {
    margin-top: -315px;
    width: 40px;
    margin-left: 297px;
  }
  .download-container {
    margin-top: 4vh;
    margin-left: 53px;
  }
  .mail-text {
    font-size: 18;
    color: #ffffff;
    font-weight: 700;
    margin-left: 31px;
    margin-top: 6vh;
  }
  .socila-icons-img {
    width: 38px;
    margin-left: 28px;
    margin-top: -83px;
  }
  .footer-text {
    color: #ffffff;
    font-size: 15px;
    margin-left: 15px;
  }
  .right-reserved-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: -10vh;
  }
  .footer-bottom-text {
    color: #ffffff;
    font-size: 8px;
  }
  .social-icons-container {
    margin-top: 80px;
  }
} */

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .main_container {
    max-width: fit-content;
    overflow: hidden;
  }
  body {
    width: 100%;
    /* UI Properties */
    background: #008ed2 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
  }
  .banner-back {
    margin-left: 60%;
    margin-top: -563px;
    width: 500px;
  }
  .aboutus {
    width: 352px;
    margin-left: -80px;
  }
  .about .about-title {
    padding-top: 54px;
    word-wrap: break-word;
    width: 261px;
    margin-left: 140px;
  }
  .about .about-content {
    padding-top: 22px;
    word-wrap: break-word;
    width: 300px;
    margin-left: 140px;
  }
  .mid-container {
    width: 494px;
    margin-left: 299px;
    margin-top: 10vh;
    align-content: center;
    justify-content: center;
  }
  .mid-right-img {
    margin-top: -347px;
    margin-left: 794px;
  }
  .mobile-img {
    width: 216px;
    margin-left: 96px;
    margin-top: 2px;
  }
  .mid-text-container {
    width: 601px;
    margin-left: 287px;
    margin-top: 10vh;
    align-content: center;
    justify-content: center;
  }
  .exercise-container {
    justify-content: center;
    margin-left: 187px;
    margin-top: 5vh;
  }
  .dumble_des {
    margin-left: 60px;
    margin-top: 49px;
    width: 556px;
  }
  .runner {
    margin-top: 13vh;
    margin-left: 143px;
  }
  .weight-img {
    margin-top: -473px;
    margin-left: 588px;
    /* margin-right: -50px; */
  }
  .download-container {
    margin-top: 4vh;
    margin-left: 398px;
  }
  .socila-icons-img {
    width: 50px;
    margin-left: -18px;
  }
  .footer-section {
    margin-left: 30vh;
  }
  .footer-bottom-text {
    color: #ffffff;
    margin-left: 2vh;
  }
}
